.align-center {
  text-align: center; }

.text-white {
  color: white; }

.text-black {
  color: black; }

.text-orange {
  color: #a96931; }

img {
  width: 100%; }

h1 {
  font-size: 63px; }

hr {
  width: 25%;
  text-align: center; }

.text_b {
  padding: 100px 70px; }

/*MIXINS NAVBAR*/
.navbar-default {
  background-color: #27AD60;
  color: white; }

.navbar-default .navbar-nav .active > a {
  background-color: white;
  color: black; }

.navbar-default .navbar-nav > li > a {
  background-color: #27AD60;
  color: white; }

.navbar-default .navbar-nav > li > a:hover {
  background-color: #27AD60;
  color: black; }

.navbar-default .navbar-nav > li > a:focus {
  background-color: #27AD60;
  color: red; }

/*CARROUSEL*/
.item {
  background-image: url("../img/carousel-bg.jpg");
  background-size: cover;
  height: 530px; }
  .item p, .item #whatwedo i, #whatwedo .item i {
    font-size: 25px;
    font-weight: normal; }

/*MIXINS PICK-PALETT*/
.picks {
  padding-left: 163px;
  padding-right: 163px;
  margin-top: 10px;
  width: 100%; }

.pick_1 {
  margin-bottom: 10px;
  width: 20%;
  height: 100px;
  float: left;
  background-color: #69D2E7; }

.pick_2 {
  margin-bottom: 10px;
  width: 20%;
  height: 100px;
  float: left;
  background-color: #A7D6DB; }

.pick_3 {
  margin-bottom: 10px;
  width: 20%;
  height: 100px;
  float: left;
  background-color: #E0E4CC; }

.pick_4 {
  margin-bottom: 10px;
  width: 20%;
  height: 100px;
  float: left;
  background-color: #F38630; }

.pick_5 {
  margin-bottom: 10px;
  width: 20%;
  height: 100px;
  float: left;
  background-color: #FA6900; }

.pick_6 {
  margin-bottom: 10px;
  width: 20%;
  height: 100px;
  float: left;
  background-color: #E94C6F; }

.pick_7 {
  margin-bottom: 10px;
  width: 20%;
  height: 100px;
  float: left;
  background-color: #542733; }

.pick_8 {
  margin-bottom: 10px;
  width: 20%;
  height: 100px;
  float: left;
  background-color: #5A6A62; }

.pick_9 {
  margin-bottom: 10px;
  width: 20%;
  height: 100px;
  float: left;
  background-color: #C6D5CD; }

.pick_10 {
  margin-bottom: 10px;
  width: 20%;
  height: 100px;
  float: left;
  background-color: #FDF200; }

.pick_11 {
  margin-bottom: 10px;
  width: 20%;
  height: 100px;
  float: left;
  background-color: #DB3340; }

.pick_12 {
  margin-bottom: 10px;
  width: 20%;
  height: 100px;
  float: left;
  background-color: #E8B71A; }

.pick_13 {
  margin-bottom: 10px;
  width: 20%;
  height: 100px;
  float: left;
  background-color: #F7EAC8; }

.pick_14 {
  margin-bottom: 10px;
  width: 20%;
  height: 100px;
  float: left;
  background-color: #1FDA9A; }

.pick_15 {
  margin-bottom: 10px;
  width: 20%;
  height: 100px;
  float: left;
  background-color: #28ABE3; }

.pick_16 {
  margin-bottom: 10px;
  width: 20%;
  height: 100px;
  float: left;
  background-color: #588C73; }

.pick_17 {
  margin-bottom: 10px;
  width: 20%;
  height: 100px;
  float: left;
  background-color: #F2E394; }

.pick_18 {
  margin-bottom: 10px;
  width: 20%;
  height: 100px;
  float: left;
  background-color: #F2AE72; }

.pick_19 {
  margin-bottom: 10px;
  width: 20%;
  height: 100px;
  float: left;
  background-color: #D96459; }

.pick_20 {
  margin-bottom: 10px;
  width: 20%;
  height: 100px;
  float: left;
  background-color: #8C4646; }

/*ABOUT*/
#about {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #2C3E50; }
  #about .citas {
    padding: 10px 200px; }

#whatwedo {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #27AD60; }

#whatwedo p, #whatwedo i {
  color: #7CB796;
  padding: 40px 40px 10px; }
#whatwedo i {
  padding: 0;
  margin: 0 5px; }

.progress {
  height: 15px;
  background-color: #DCD5D5;
  border-radius: 0; }
  .progress .progress-bar {
    border: 4px solid #DCD5D5;
    background-color: #E67E22; }

.fondo_img {
  margin: 40px 70px;
  background: linear-gradient(90deg, #6A7580 40%, #616D79 10%, #2C3E50 50%);
  padding: 40px; }

.fondo_team {
  margin: 40px 70px;
  background: transparent;
  padding: 0px; }

.boton {
  background-color: #443E44;
  padding: 10px 20px; }
  .boton:hover {
    background-color: #A96931; }

.info_precio {
  border: 1px solid #27ad60;
  background-color: transparent;
  margin: 20px;
  padding: 0px;
  color: white; }

.info_precio:hover {
  margin-top: 0px;
  border: 1px solid #a96931; }

.title_1 {
  background-color: #8F5F38;
  margin: 0px;
  padding: 10px;
  color: white; }

.title_2 {
  background-color: #8F5F38;
  margin: 0px;
  padding: 5px;
  color: white; }

.white1 {
  background-color: white;
  margin: 0px;
  padding: 5px;
  color: black; }

.precio_started {
  background-color: #27ad60;
  margin: 0px;
  padding: 20px;
  color: white; }

.boton_info {
  background-color: transparent;
  margin: 0px;
  padding: 30px;
  color: white; }

.title {
  background-color: transparent;
  margin: 0px;
  padding: 5px;
  color: white; }

.title1 {
  background-color: transparent;
  margin: 0px;
  padding: 10px;
  color: white; }

.numero {
  font-size: 30px; }

.getintouch {
  padding: 10px 200px; }

input,
textarea {
  padding: 10px;
  margin-top: 10px;
  width: 100%; }

#redes {
  background-image: url("../img/img-divider-img.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  background-position: top;
  height: 500px; }
  #redes i {
    font-size: 147px;
    color: white;
    margin: 70px 8px; }

.navbar-form {
  padding: 0px;
  margin: 0px 50px;
  position: relative;
  width: 250px; }
  .navbar-form .form-control {
    padding: 6px 45px;
    display: block; }

button {
  height: 34px;
  position: absolute;
  top: 0px;
  left: 0px; }
  button .fa-envelope {
    color: #E77E21; }

.btn-default {
  background-color: #443E44;
  border: none; }

.services hr {
  display: none; }

.services:hover {
  background-color: #2A7257; }
  .services:hover h2 {
    color: #A96931; }
  .services:hover hr {
    width: 100%;
    display: block; }
  .services:hover .fondo_img {
    transform: rotate(45deg);
    background: #A96931; }

@media only screen and (max-width: 420px) {
  #about .citas, .getintouch, #redes i {
    padding: 0px;
    margin: 0px; }

  #pick_palet .container .picks {
    padding-left: 0px;
    padding-right: 0px; } }

/*# sourceMappingURL=main.css.map */
